---
layout: default
---

<div class="page-content">
  <div class="header-background">
    <div class="container-fluid"> <!-- Bootstrap container for responsive content alignment -->
      <div class="row align-items-center"> <!-- Row with vertical centering -->
        <div class="col-md-6"> 
          <img src="{{ site.baseurl }}/assets/img/hyperboloid_rotation_white.gif" alt="Hyperboloid Rotation GIF" class="img-fluid"> <!-- img-fluid makes the image responsive -->
        </div>
        <div class="col-md-6"> 
          <h1 class="post-title display-4">
            {% if site.title == "blank" -%}
                MICCAI 2025 Tutorial on <br>
                <span class="font-weight-bold text-white">Hyperbolic Learning for <br>Medical Imaging</span>
            {%- else -%}
                {{ site.title }}
            {%- endif %}
          </h1>
          <!--<h3 class="font-weight-bold text-white">23.09.2025 | 09:00AM | TBD </h3>-->
        </div>
      </div>
    </div>
  </div>
</div>



    <div class="wrapper container mt-5">

  <article>

    <div class="clearfix">
  <p class="lead">
		<strong>Modern deep learning in computer vision is primarily driven by networks
		designed to work on Euclidean manifolds. But is Euclidean geometry truly
		the best fit for these models, or is it simply the most convenient choice?
		Recent breakthroughs in machine learning and computer vision suggest that
		hyperbolic geometry could be a compelling alternative. This geometry offers
		unique advantages for embedding complex structures such as hierarchies,
		graphs, text, images, and videos. </strong>
	</p>
		<p class="lead">
		In response to these developments, this tutorial introduces hyperbolic geometry
		as a promising tool for advancing in medical imaging. We aim to make this topic
		accessible to both researchers and practitioners. Whether you're new to the
		concept or looking to deepen your expertise, this tutorial offers both
		theoretical insights and practical guidance.
		</p>


  <h3 class="font-weight-normal">What to Expect</h3>
  <p class="lead">
    At the conference, we’ll provide an accessible introduction to hyperbolic geometry, designed
    especially for non-mathematicians. Our goal is to focus on intuition and high-level concepts,
    ensuring that the topic is approachable and engaging for everyone.
  </p>

  <p class="lead">
    We will also cover the latest advancements in the field, exploring the current use of hyperbolic
    geometry in computer vision and medical imaging from both <em>supervised</em> and <em>unsupervised</em> perspectives.
    By the end of the session, we’ll highlight open research challenges and the future potential
    of hyperbolic geometry for visual understanding.
  </p>

  <h2 class="font-weight-normal">Practical Insights and Hands-On Experience</h2>

  <p class="lead">
    Unlike typical theoretical tutorials, we go beyond the foundations. Our tutorial website will
    feature interactive, notebook-style code snippets based on foundational works in hyperbolic
    geometry. These resources are designed to help you gain hands-on experience, lowering the barrier
    to entry and allowing you to actively explore this exciting new research area.
  </p>

  <p class="lead">
    Whether you're just starting your journey or are already familiar with deep learning, this tutorial
    is your guide to understanding and utilizing hyperbolic geometry in computer vision.
  </p>

<div class="speakers">
	<h2 class="font-weight-normal">Organizers</h2>
  <div class="row py-5"> <!-- Start of the row -->
    <div class="col-md-6 col-lg-4"> <!-- Adjust column width as needed -->
      <div class="card">
        <img src="{{ site.baseurl }}/assets/img/Alvaro_Gonzalez_Jimenez_web.jpg" alt="Alvaro Gonzalez-Jimenez">
        <div class="card-body">
          <h2 class="card-title">Alvaro Gonzalez-Jimenez</h2>
					<h6 class="card-text">University Hospital of Basel <br> Lucerne University of Applied Sciences and Arts</h6>
          <div class="card-text affiliate">
            <a href="https://scholar.google.com/citations?user=LbtKzVgAAAAJ&hl=en" title="GoogleScholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar ai-2x"></i></a>
            <a href="https://alvarogonjim.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i class="fas fa-globe" style='font-size:28px' ></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4"> <!-- Adjust column width as needed -->
      <div class="card">
        <img src="{{ site.baseurl }}/assets/img/simone.jpg" alt="Simone Lionetti">
        <div class="card-body">
          <h2 class="card-title">Simone Lionetti</h2>
          <h6 class="card-text">Lucerne University of Applied Sciences and Arts</h6>
					<p>
					</p>
          <div class="card-text affiliate">
            <a href="https://scholar.google.com/citations?user=WCvkBwkAAAAJ&hl=en" title="GoogleScholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar ai-2x"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4"> 
      <div class="card">
        <img src="{{ site.baseurl }}/assets/img/Dena_Bazazian.jpeg" alt="Dena Bazazian">
        <div class="card-body">
          <h2 class="card-title">Dena Bazazian</h2>
          <h6 class="card-text">University of Plymouth</h6>
					<p>
					</p>
          <div class="card-text affiliate">
            <a href="https://scholar.google.es/citations?user=_wds938AAAAJ&hl=en" title="GoogleScholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar ai-2x"></i></a>
						<a href="https://denabazazian.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i class="fas fa-globe" style='font-size:28px' ></i></a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End of the row -->


		<div class="row py-5"> 

    <div class="col-md-6 col-lg-4"> 
      <div class="card">
        <img src="{{ site.baseurl }}/assets/img/Fabian_Groeger.jpeg" alt="Fabian Groeger">
        <div class="card-body">
          <h2 class="card-title">Fabian Groeger</h2>
					<h6 class="card-text">University of Basel <br> Lucerne University of Applied Sciences and Arts</h6>
					<p>
					</p>
          <div class="card-text affiliate">
            <a href="https://scholar.google.com/citations?user=uwyr5k0AAAAJ&hl=en" title="GoogleScholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar ai-2x"></i></a>
						<a href="https://fabiangroeger96.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i class="fas fa-globe" style='font-size:28px' ></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4"> 
      <div class="card">
        <img src="{{ site.baseurl }}/assets/img/Philippe_Gottfrois.jpeg" alt="Philippe Gottfrois">
        <div class="card-body">
          <h2 class="card-title">Philippe Gottfrois</h2>
					<h6 class="card-text">University of Basel <br> University Hospital of Basel</h6>
					<p>
					</p>
          <div class="card-text affiliate">
            <a href="https://scholar.google.com/citations?user=74ixG6IAAAAJ&hl=en" title="GoogleScholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar ai-2x"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4"> 
      <div class="card">
        <img src="{{ site.baseurl }}/assets/img/Marc_Pouly.png" alt="Marc Pouly">
        <div class="card-body">
          <h2 class="card-title">Marc Pouly</h2>
					<h6 class="card-text">Lucerne University of Applied Sciences and Arts</h6>
					<p>
					</p>
          <div class="card-text affiliate">
            <a href="https://scholar.google.com/citations?user=cTswLeYAAAAJ&hl=en" title="GoogleScholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar ai-2x"></i></a>
 						<a href="https://marcpouly.ch/" title="Website" target="_blank" rel="noopener noreferrer"><i class="fas fa-globe"  style='font-size:28px'></i></a>  
          </div>
        </div>
      </div>
    </div>
	</div>

	<div class="row"> 
    <div class="col-md-6 col-lg-4"> 
      <div class="card">
        <img src="{{ site.baseurl }}/assets/img/Alexander_Navarini.jpg" alt="Alexander Navarini">
        <div class="card-body">
          <h2 class="card-title">Alexander Navarini</h2>
					<h6 class="card-text">University of Basel <br> University Hospital of Basel</h6>
					<p>
					</p>
          <div class="card-text affiliate">
            <a href="https://scholar.google.com/citations?user=mlAHHIoAAAAJ&hl=en" title="GoogleScholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar ai-2x"></i></a>
 						<a href="https://www.navarinilab.com/en/" title="Website" target="_blank" rel="noopener noreferrer"><i class="fas fa-globe" style='font-size:28px' ></i></a>  
          </div>
        </div>
      </div>
    </div>
	</div> 




</div>



  </article>
 </div>
